@mixin margin-width {
    width: 80%;
    margin-left: 72px;
}




body>.footer-container {
    display: flex;
    @include margin-width();

    .first-footer-section {
display: flex;
}
    .second-footer-section {
        display: flex;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}