@mixin margin-width {
    width: 95%;
    margin-left: 72px;
}

@media only screen and (min-width:1440px) {

    body>.footer-container {

        @include margin-width();
        margin-top: 100px;

        .first-footer-section {
            display: flex;
        }

        .second-footer-section {
            display: flex;
        }
    }

    .footer-grid-container {
        margin-right: 72px;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 70px;
    }

    .grid-text-bolder {
        font-weight: bolder;
    }

    .second-footer-section {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-right: 72px;
        margin-top: 50px;
        color: #999999;
    }


    .footer-social-media-logos {
        width: 100px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 426px) {
    body>.footer-container {
        margin-left: 10px;
        margin-top: 100px;
    }

    .footer-grid-container {
        margin-right: 72px;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
        row-gap: 5px;
    }

    .footer-social-media-logos {
        width: 70px;
    }

    .grid-text-bolder {
        font-weight: bolder;
    }

    .second-footer-section {
        margin-right: 10px;
        margin-top: 50px;
        color: #999999;
    }

    .mobile-footer-hidden-text {
        display: none;
    }

    .footer-grid-text {
        margin-top: 0;
        margin-bottom: 0;
    }
}